.dayContainer {
  margin: 0px 5%;
}

.date{
 text-align: start;
}

.mealGrades {
margin-top: 24px;
/* width: max-content; */
display: flex;
justify-content: space-around;
background: gainsboro;

}

.mealGrades input[type="radio"]{
height: 20px;
width: 100px;
appearance: none;
/* background: gainsboro; */
}

.meal1:checked{
background-color: purple;
}

.meal2:checked
{
  background-color: orange;
}

.meal3:checked{
background-color: green;
}
